.metals/*
main-service/project/metals.sbt
main-service/project/.bloop/*
main-service/project/project/*
main-service/project/target/*
main-service/target/*
main-service/.bloop/*
main-service/.metals/*
main-service/.vscode/*
